#inputMessage {
    width: 100%;
}

#logout-btn {
    position: relative;
    clear: both;
    top: 30px;
    display: block;
}

.control-panel {
    position: relative;
}

#submit-button {
    float: left;
}

#delete-button {
    margin-left: 10px;
}

.container {
    margin-top: 20px;
}

.main-title h1 {
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: lighter;
    font-size: 4.6em;
}

.info-box {
    overflow: visible;
}

#map-canvas {
    height: 600px;
}

.control-panel {
    height: 600px;
    background-color: #CCC;
    padding: 20px;
}
